.place-order-area{
  background-color: var(--primary-color);
  padding-top: 50px;
  padding-bottom: 50px;
}
.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  padding: 0px 3%;
}
.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}
.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #cbb26a47;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
}
.place-order-left .multi-fields {
  display: flex;
  gap: 10px;
}
.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}
.place-order .cart-total button {
  margin-top: 30px;
}
