.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  background: var(--header-color);
}

.navbar .logo {
  width: 150px;
}

.navbar .profile {
  width: 60px;
}