.sponsor-area {
    background: var(--primary-color);
    padding: 50px 0px;
}

.sponsor-container {
    padding: 0px 3%;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.sponsor-text {
    margin-bottom: 30px;
}

.my-slick-sider img {
    width: 130px;
    border-radius: 100%;
}