.exploreMenu-area {
  background: var(--primary-color);
  padding-top: 50px;
}

.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 3%;
}

.explore-menu-text {
  max-width: 60%;
  color: var(--secondary-color);
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.explore-menu-list-item p {
  margin-top: 10px;
  /* color: var(--button-text-color); */
  /* font-size: max(1.4vw, 16px); */
  cursor: pointer;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background: rgb(133 133 133 / 20%);
  border: 0;
}

.explore-menu-list-item .active {
  border: 4px solid var(--tomato-color);
  padding: 2px;
}

/* Media Query */
@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}