/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--header-color);
}

.sales-report {
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
}

h1 {
  color: var(--white-color);
  margin-bottom: 30px;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  /* Smooth corners */
}

.summary-item {
  flex: 1;
  min-width: 220px;
  padding: 15px;
  background-color: var(--link-color) !important;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.summary-item h2 {
  color: var(--white-color);
  font-size: 16px;
}

.summary-item p {
  color: var(--white-color);
  font-size: 16px;
  text-align: center;
}

.top-items {
  margin-top: 20px;
}

.top-items h2 {
  margin-bottom: 30px;
  margin-top: 50px;
  color: var(--white-color);
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background: var(--light-tomato-color);
  color: var(--white-color);
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: var(light-tomato-color);
}
/* table tr {
  background-color: var(--primary-color) !important;
} */
table tr:nth-child(even) {
  background-color: var(--primary-color) !important;
}

table tr:hover {
  background-color: var(--primary-color);
}

table thead .table-header:hover {
  background-color: var(--light-tomato-color);
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.loading-container {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  height: 100vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
  position: fixed;
  /* Ensure it's always centered */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  /* Optional background overlay */
  z-index: 9999;
  /* Ensures it appears above everything */
}

.loading-container p {
  margin-top: 10px;
  font-size: 1.2em;
  color: var(--white-color);
}
