.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid var(--admin-panel-sidebar-border-color);
  border-top: 0;
  font-size: max(1vw, 10px);
}

.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--admin-panel-sidebar-border-color);
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;

  background: var(--side-bar-active-bg-color);
  border-color: var(--tomato-color);
  color: var(--white);
}

.sidebar-option.active {
  background: var(--primary-color);
  border-color: var(--white-color);
  color: var(--white-color);
}

/* Media Query */
@media (max-width: 900px) {

  .sidebar-option p,
  .sidebar-text {
    display: none;
  }
}