.food-display {
  padding: 0px 3%;
  padding-bottom: 50px;
  background: var(--primary-color);
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}