.footer {
  color: var(--footer-text-color);
  background: var(--header-color);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; */
  padding: 20px 3vw;
  /* padding-top: 80px; */
}

.subscribe-btn {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  color: var(--primary-color);
  background: var(--link-color);
  font-size: 15px;
  cursor: pointer;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-center h2,
.footer-content-right h2 {
  color: #FFDA43;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0px;
  border: 0;
  background: rgb(133 133 133 / 20%);
}

.footer-link:hover {
  color: var(--link-color);
}

/* Media Query */
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footer-copyright {
    text-align: center;
  }
}